---

---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300..700&family=Sankofa+Display&display=swap"
    rel="stylesheet"
/>

<!-- Nav -->
<header class="menu">
    <div class="nav-container">
        <a href="/" class="link-main">
            <img src="/images/logo.svg" alt="" class="logo-image" /></a
        >

        <div class="options-container">
            <button class="buttons" onclick="location.href='#about'"
                >About Me
            </button>

            <button class="buttons" onclick="location.href='#projects'"
                >Projects
            </button>

            <button class="buttons" onclick="location.href='#contact'"
                >Contact
            </button>
        </div>

        <button class="change-language" onclick="changeLanguage">
            <img
                src="/images/great-britain.png"
                alt=""
                class="language-image"
            />
        </button>
    </div>
</header>

<style>
    header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0 10px 0;
        background: rgba(0, 0, 0, 0.5);

        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .link {
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 700;
    }

    .logo-image {
        width: 40px;
        height: 40px;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 13px;
        width: 80%;
    }

    nav {
        display: flex;
        position: relative;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
    }

    .menu-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        color: black;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        gap: 5rem;
        list-style: none;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
    }

    .buttons {
        font-size: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
    }

    .buttons:hover {
        background-color: white;
        border-radius: 5%;
        color: black;
        transition:
            background-color 0.3s ease,
            color 0.3s ease;

        .link {
            color: white;
        }
    }

    .languages-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
    }

    .language-image {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    .arrow-down {
        width: 15px;
        height: 15px;
    }

    .link-main {
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .memoji-image {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .change-language {
        background: none;
        border: none;
        cursor: pointer;
    }

    .options-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
</style>
