---
import Project from "../../components/Project.astro";
---

<div class="projects-container">
    <h2 class="titles" id="projects">Projects</h2>
    <div class="projects">
        <Project
            title="World Padel Store"
            body="This is the first project."
            deploy=""
            repo="https://github.com/teijeiro7/WPS.git"
            image="../../images/wps.png"
        />
        <Project
            title="Monopoly Bank"
            body="This is the second project."
            deploy=""
            repo=""
            image="../../images/monopoly-code.png"
        />
    </div>
</div>
