---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Bienvenido a mi PortFolio.">
	<header class="menu">
		<nav>
			<div class="logo">
				<img src="/images/memoji.png" alt="" class="memoji-image" />
				<a href="/" class="link-main">Teijeiro7</a>
			</div>
			<ul>
				<li>
					<button class="buttons-menu"
						><a href="#about-me" class="link-about-me"
							><div class="menu-buttons">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									class="bi bi-person-circle"
									viewBox="0 0 16 16"
								>
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"
									></path>
									<path
										fill-rule="evenodd"
										d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
									></path>
								</svg>Sobre mí
							</div></a
						></button
					>
				</li>
				<li>
					<button class="buttons-menu">
						<a href="#projects" class="link-projects"
							><div class="menu-buttons">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									class="bi bi-briefcase"
									viewBox="0 0 16 16"
								>
									<path
										d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"
									></path>
								</svg>Proyectos
							</div>
						</a></button
					>
				</li>
				<li>
					<button class="buttons-menu"
						><a href="#contact-me" class="link-contact-me"
							><div class="menu-buttons">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									class="bi bi-telephone"
									viewBox="0 0 16 16"
								>
									<path
										d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
									></path>
								</svg>Contacto
							</div></a
						></button
					>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="title">
			<div class="text-title">
				<h1>
					Bienvenido al portfolio de <span class="name"
						>Cristian Teijeiro</span
					>
				</h1>
				<div class="social-media">
					<img src="/images/github.png" alt="" class="social-image" />
					<img
						src="/images/linkedin.png"
						alt=""
						class="social-image"
					/>
					<img
						src="/images/instagram.svg"
						alt=""
						class="social-image"
					/>
				</div>
			</div>
			<img
				src="/images/me-laptop.png"
				alt=""
				class="memoji-laptop-image"
			/>
		</div>
	</main>
</Layout>

<style>
	body {
		background-color: black;
		color: #fff;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		margin: 0;
		padding: 0;
	}

	header {
		border-bottom: 2px solid #fff;
		padding-bottom: 2px;
	}

	nav {
		display: flex;
		position: relative;
		justify-content: flex-start;
		gap: 1rem;
		width: 100%;
	}

	.menu-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.3rem;
	}

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		gap: 5rem;
		list-style: none;
	}

	.logo {
		padding-left: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-weight: 700;
	}

	svg {
		color: white;
	}

	.buttons-menu {
		font-size: 1rem;
		background: none;
		border: none;
		cursor: pointer;
	}

	.buttons-menu:hover {
		color: #fff;
	}

	a {
		font-weight: 500;
		text-decoration: none;
		color: white;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 3.7rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.name {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.menu-buttons {
		padding: 2px;
		justify-content: center;
		align-items: center;
	}

	.memoji-image {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.memoji-laptop-image {
		width: 300px;
		height: 300px;
		margin-bottom: 5%;
	}

	.social-image {
		width: 30px;
		height: 30px;
		margin-left: 10px;
		fill: white;
	}

	.social-media {
		background-color: #fff;
	}

	.link-main {
		font-weight: 700;
	}
</style>
