---

---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300..700&family=Sankofa+Display&display=swap"
    rel="stylesheet"
/>

<!-- Nav -->
<header class="menu">
    <div class="nav-container">
        <a href="/" class="link-main">
            <img src="/images/logo.png" alt="" class="logo-image" /></a
        >

        <button class="buttons-menu"
            ><a href="#about-me" class="link">About Me</a></button
        >

        <button class="buttons-menu">
            <a href="#projects" class="link">Projects </a></button
        >

        <button class="buttons-menu"
            ><a href="#contact" class="link">Contact</a></button
        >

        <button class="change-language" onclick="changeLanguage">
            <img
                src="/images/great-britain.png"
                alt=""
                class="language-image"
            />
        </button>
    </div>
</header>

<style>
    header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding: 20px;
        margin-bottom: 50px;
    }

    .link {
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 700;
    }

    .logo-image {
        width: 40px;
        height: 40px;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 13px;
        width: 30%;
        box-shadow: 0 0 10px white;
    }

    nav {
        display: flex;
        position: relative;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
    }

    .menu-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        color: black;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        gap: 5rem;
        list-style: none;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
    }

    svg {
        fill: black;
    }

    .buttons-menu {
        font-size: 1rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    .buttons-menu:hover {
        background-color: black;
        border-radius: 10%;

        .link {
            color: white;
        }
    }

    .languages-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
    }

    .language-image {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    .arrow-down {
        width: 15px;
        height: 15px;
    }

    .link-main {
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    .memoji-image {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .change-language {
        background: none;
        border: none;
        cursor: pointer;
    }
</style>
