---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/* Blue */
		--blue-accent: 204, 204, 255;
		--blue-accent-light: 153, 153, 255;
		--blue-accent-dark: 102, 102, 204;
		--blue-accent-gradient: linear-gradient(
			45deg,
			rgb(var(--blue-accent)),
			rgb(var(--blue-accent-light)) 30%,
			white 60%
		);

		/* Yellow */
		--accent: 255, 255, 0;
		--accent-light: 255, 255, 204;
		--accent-dark: 128, 128, 0;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
